@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* FONT */
  --font-inter: "Inter", sans-serif;

  /* COLORS */
  --color-black: #171717;
  --color-primary: #232532;
  --color-orange: #e6533c;
  --color-purple: #7a29dc;
  --color-off-white: #fafaf9;
  --color-gray: #303030;
  --color-dark-slate-blue: #323443;
  --color-slate-gray: #4f5261;
}

@layer base {
  body {
    @apply m-0 flex min-h-screen tracking-wide text-[16px] font-inter bg-black text-off-white;
  }

  p {
    @apply tracking-wide;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  button {
    outline: none;
    background-color: transparent;
    border: none;
  }

  li {
    list-style: circle;
  }
}

@layer components {
  button {
    @apply cursor-pointer outline-none border-0 bg-transparent;
  }
}

@layer utility {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
